# Custom
**/.DS_Store

.vscode
**/data
**/results/videos
**/results/images
**/wandb

# Specific directories to ignore
examples/experiment_results
examples/datacifar10
datasets
debug_logs

# Specific example files to ignore
examples/08_mnist_classification.ipynb
examples/08_mnist_classification.py
examples/0_two_moons copy.ipynb
examples/0_two_moons.ipynb
examples/0b_two_moons_backprop.ipynb
examples/1_gradient_analysis.ipynb
examples/1_gradient_analysis_balazs.ipynb
examples/2_randomness.ipynb
examples/3_flow.ipynb
examples/4_alexnet_pc.ipynb
examples/5_decoder_pc.ipynb
examples/6_zil.ipynb
examples/7_mcpc.ipynb
examples/check_jax_gpu.py
examples/decoder.py
examples/decoder_1.1.py
examples/decoder_1.1_vis.py
examples/decoder_1.py
examples/decoder_2.py
examples/decoder_cnn.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
examples/profile_output.prof
